@model MyLibrary.Models.Shelf

@{
    ViewData["Title"] = "Delete";
}

<h1>מחיקה</h1>

<h3>האם אתה בטוח שאתה רוצה למחוק ?</h3>
<div>
    <h4>Shelf</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShelfWidth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShelfWidth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShelfHeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShelfHeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genre.GenreId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ShelfId" />
        <input type="submit" value="מחיקה" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-id=@Model.GenreId>חזרה לרשימה</a>
    </form>
</div>
